/obj/
/bin/
/lib/
/lib_agg/
/build/
/css/
/html/
/img/
/js/
/upload/
.DS_Store
*.npp
/docs/html/
/deps/simple_components/obj/
/deps/simple_components/lib/
/deps/PragmARC/obj/
/deps/PragmARC/lib/
/deps/zanyblue/include/
/deps/zanyblue/lib/
/deps/zanyblue/bin/
/deps/zanyblue/src/obj/
/deps/zanyblue/src/bin
/deps/uxstrings/obj/
/deps/uxstrings/lib/
/deps/uxstrings/bin/
gnatinspect.*
gpsauto.cgpr
*-loc.xml
/inst_folder/
demo/connect_four/connectfour_messages-connectfour_strings.adb
demo/connect_four/connectfour_messages-connectfour_strings.ads
demo/connect_four/connectfour_messages.adb
demo/connect_four/connectfour_messages.ads
demo/logo/logo_messages-logo_strings.adb
demo/logo/logo_messages-logo_strings.ads
demo/logo/logo_messages.adb
demo/logo/logo_messages.ads
